body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: purple;
}

#container{
    border: 5px solid purple;
    width: 60%;
    height: auto;
    margin:10% auto;
    text-align: center;
    box-shadow: 10px 10px 5px plum;
    
}

a{
    text-decoration: none;
    color: black;
}

#mainmenu{
    display: flex;
    flex-direction: column;
}

#mainmenu a{
    
    padding: 2%;
    background-color: purple;
    color: white;
    margin: 2%;
    border-radius: 30px;
    text-align: center;
}

.form-element{
    width: 90%;
    margin: 1% auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}



.form-element input,.form-element > label,.form-element select{
    width: 90%;
}

.form-element > label{
    text-align: right;
}

.button{
    display: inline-block;
    margin: 2%;
    
}

.button input{
   
    background-color: purple;
    color: white;
    border-radius: 30px;
    
}

legend{
    text-align: left;
}

.radio-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
fieldset{
    width: 95%;
    margin: auto;
}

.form-element span{
    color: red;
}
